<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <div class="nav-content navbar">
    <a class="navbar-brand" href="home.php">
      <p class="logo" style="display: inline">
        <span class="logo-sub">U</span>Markt
      </p>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#collapsibleNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/Front%20Store/php/home.php">Home</a>
        </li>

        <li class="nav-item dropdown">
          <button class="dropbtn">
            Aisle
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/Front%20Store/components/Aisle/Fruits&veggies.php"
              >Fruits and vegetables</a
            >
            <a class="dropdown-item" href="/Front%20Store/components/Aisle/Bakery.php">Bakery</a>
            <a class="dropdown-item" href="/Front%20Store/components/Aisle/Frozen.php">Frozen</a>
            <a class="dropdown-item" href="/Front%20Store/components/Aisle/Butchery.php">Butchery</a>
            <a class="dropdown-item" href="/Front%20Store/components/Aisle/Seafood.php">Seafood</a>
            <a class="dropdown-item" href="/Front%20Store/components/Aisle/Non_Grocery.php"
              >Non-Grocery</a
            >
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/Front%20Store/php/Shopping-Cart.php"
            >Shopping Cart</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/SOEN-287-Project/Front%20Store/php/login.php" style="color:yellow">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Front%20Store/PHP/adduser.php">Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>